<!-- Past product -->
<script id="past-product-divider-tpl" type="text/x-handlebars-template">
    <li>
        <article class="product-details">
            <div class="product-img">
                <img src="{{src}}">
            </div>
            <div class="details">
                <span class="name">{{name}}</span>
                <span class="price">{{price}}</span>
                <span class="date">{{date}}</span>
            </div>
        </article>
    </li>
    <li role="separator" class="divider"></li>
</script>

<script type="text/x-handlebars-template" id="past-product-tpl">
    <li>
        <article class="product-details">
            <aside class="product-img">
                <img src="{{src}}">
            </aside>
            <aside class="details">
                <span class="name">{{name}}</span>
                <span class="price">{{price}}</span>
                <span class="date">{{date}}</span>
            </aside>
        </article>
    </li>
</script> 

<script type="text/x-handlebars-template" id="current-product-tpl">
    <li>
        <article class="product-details">
            <div class="product-img">
                <img src="">
            </div>
            <div class="details">
                            
            </div>
        </article>
    </li>
    <li role="separator" class="divider"></li>
</script>