
body {
	background-color: #f0f0f0;
}

nav ul.navbar-nav {
	transform:skew(-30deg) !important;
}

nav ul.navbar-nav li a {
	transform:skew(30deg);
	font-size: 13pt;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

nav ul.navbar-nav li:hover a:hover {
	color: #FFFFFF;
}

nav ul.navbar-nav li#home:hover {
	background-color: #0099CC !important;
}

nav ul.navbar-nav li#about:hover {
	background-color: #573E7D !important;
}

nav ul.navbar-nav li#help:hover {
	background-color: #F9D100 !important;
}

nav ul.navbar-nav li#contact:hover {
	background-color: #FB5454 !important;
}

#banner {
	width: 1150px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height:345 !important;
}

.product aside#current-product, aside#past-product {
	background: #FFFFFF;
	box-shadow: 1px 1px 1px #888888;
}

footer.navbar {
	margin-top: 20px;
	margin-bottom: 0px;
}

.navbar-right {
	margin-right: 0px;
}






