	<div class="module-header text-center bg-primary">
		<h2>THÊM SẢN PHẨM MỚI</h2>
	</div>
	<div class="module-content">
		<div class="left-side">
			<form id="upload_file" method="post" enctype="multipart/form-data" action='Core/upload_image.php'>
			<div class="product-img">
				<div class="header text-center"><h3>Hình ảnh sản phẩm</h3></div>
				<ul>
					<li>
						<div class="image-box">
							<div class="image-preview">
							</div>
							<input type="file" id="file1" name="file1"/>
							<button class="button" type="button">Chọn file</button>
						</div>
					</li>
					<li>
						<div class="image-box">
							<div class="image-preview">
							</div>
							<input type="file" id="file2" name="file2"/>
							<button class="button" type="button">Chọn file</button>
						</div>
					</li>
					<li>
						<div class="image-box">
							<div class="image-preview">
							</div>
							<input type="file" id="file3" name="file3"/>
							<button class="button" type="button">Chọn File</button>
						</div>
					</li>
				</ul>
			</div>
			</form>
			<div class="product-auction-info">
				<div class="header text-center" style="padding-top:10px"><h3>Cấu hình đấu giá</h3></div>
				<div class="auction-setting">
					<label><b>Giá khởi điểm</b></label>
					<input type="text" class="text form-control" name="StartPrice" style="width:40%" placeholder="Đặt giá khởi điểm cho sản phẩm của bạn!">
					<label><b>Thời gian</b></label>
					<input type="text" class="text form-control" name="Duration" style="width:50%" placeholder="* Giá trị được tính theo giờ">
					<label><b>Hình thức đấu giá</b></label>
					<select class="form-control" style="width:30%">
						<option value="1">Đấu giá mở</option>
						<option value="2">Đấu giá kín</option>
					</select>
				</div>
			</div>
		</div>
		<div class="right-side">
			<div class="product-info">
				<div class="header text-center"><h3>Thông tin sản phẩm</h3></div>
				<label><b>Tên sản phẩm</b></label>
				<input type="text" name="ProductName" class="text form-control" style="width:300px
				" placeholder="Nhập tên sản phẩm của bạn">
				<br>
				<label><b>Mô tả sản phẩm</b></label>
				<textarea class="text form-control" rows="10" placeholder="Hãy giới thiệu một chút về sản phẩm nào?"></textarea>
			</div>
		</div>
	</div>
	<div class="module-footer text-center">
		<button type="button" class="btn btn-success add-product" style="margin-top:5px; width:100px"><b>Thêm</b></button>
		<button type="button" class="btn btn-default clear" style="margin-top:5px; width:100px" ><b>Xóa</b></button>
	</div>
