<div class="show-product-image">
	<div class="image-view">

	</div>
	<div class="image-slider">
		<ul>
			
		</ul>
	</div>
</div>
<div class="product product-details">
	<h2 class="text-center product-name" style="border-bottom:1px solid #ccc"></h2>
	<div class="product-info">
	<div>Người đăng: <b><span class="author"></span></b></div>
	<br>
	<div><label><b>Mô tả:</b></label><textarea readonly class="info"></textarea></div>
	</div>
	<div class="product-duration">
		<label><b>Thời gian còn lại:</b></label>
		<div class="countdown">
 		</div>
	</div>
	<div class="footer">
		<div><b>Lượt đấu giá: <span class="total-bet"></span></b>&nbsp;&nbsp;&nbsp;<span style="float:right"><b>Người vừa ra giá: <span class="current-user"></span></b></span></div>
		<div style="padding-top:10px;"><b>Giá cao nhất: </b><span class="product-price"></span></div>
		<div>
			<button type="button" class="btn btn-danger btn-bet">
				BID
			</button>
		</div>
	</div>
</div>
